<div class="about-container">
    <div class="welcome-section">
        <h1 class="welcome-title">Blogs By Jim</h1>
        <h2 class="welcome-subtitle">Welcome to Your Personal<br>Blogging Space!</h2>
        
        <div class="welcome-message">
            <p class="movement-text">You're now part of a movement that<br>empowers voices through simple,<br>beautiful storytelling.</p>
            
            <p class="inspiration-text">
                Start writing. Make it yours.<br>
                Inspire others.
            </p>
        </div>
    </div>
</div> 